{% extends 'base2.html' %}
{% block title %}create an account{% endblock title %}

{% block content %}
    <div class="jumbotron" style="background-color:black; color:white; margin-top:8%;">
        <h2>Create an Account</h2>
    </div>
    <div class="alert alert-primary" role="alert">
        Please, sign up using the following form:
    </div>
  
    <form action="" method="post">
        {% csrf_token %}
        {{ user_form.as_p }}
        <input class="btn btn-success" type="submit" value="Create my account">
    </form>
{% endblock content %}