
{% extends 'base.html' %}
{% block title  %} issues {% endblock title  %}

{% block content %}

<div class="jumbotron" style=" margin-top:5%; background-color:#343A40; color:white;" >
  <h2>Troubleshoot your problem's <span> <i class="fa fa-cogs"></i></span></h2>
</div>

<div class="container">
    <div style="text-align: center; background-color:black">
      <a class="btn btn-outline-primary" href="#about">About project</a>
      <a class="btn btn-outline-secondary" href="#guarantee">Project Guarantee </a>
      <a class="btn btn-outline-success" href="#buy-project">Buy project</a>
      <a class="btn btn-outline-info" href="#payment">Payment problem</a>     
      <a class="btn btn-outline-warning" href="#send-project">Send course</a>
    </div>     
   <div class="row" style="margin-top: 20px;">
     <div class="col-sm-5">
      <div class="list-group" >
        <h2 class="feedback">Plans and Pricing </h2>
        {% for plan in plans %}
        <a href="#" class="list-group-item list-group-item-action">
          <div class="d-flex w-100 justify-content-between">
            <h5 style="color: maroon;" class="mb-1">{{ plan.title }}</h5>
            <small>{{ plan.created}}</small>
          </div>
          <p class="mb-1">{{ plan.body }}</p>
          <hr>
          <small>{{ plan.company }}</small>
        </a>
        <p></p>
        {% endfor %}
      </div>
    </div> <!-- End of recent action -->


       <!-- User guid -->
     <div class="col-sm-7">
      <div class="shadow p-3 mb-5 bg-dark rounded" style="color: white;">
        <div class="guide-content" >
         <h4 id="about">About project</h4>
         <p class="guide-style">Lorem, ipsum dolor sit amet consectetur adipisicing elit. 
             Exercitationem, natus nulla illo porro aliquam, illum expedita 
             recusandae magni ipsa inventore quis ut, blanditiis 
             sunt amet quisquam repellat in dolorum neque!
             Lorem ipsum dolor sit amet consectetur adipisicing elit.
              Eaque optio eligendi rem laudantium vel! Sed pariatur quos ab magni
               deserunt eveniet recusandae nulla dignissimos numquam. Esse voluptatem 
               debitis nemo repudiandae!
         </p>
         <h4 id="guarantee">Project Guarantee</h4>
         <p class="guide-style">Lorem, ipsum dolor sit amet consectetur adipisicing elit. 
             Exercitationem, natus nulla illo porro aliquam, illum expedita 
             recusandae magni ipsa inventore quis ut, blanditiis 
             sunt amet quisquam repellat in dolorum neque!
             Lorem ipsum dolor sit amet consectetur adipisicing elit.
              Eaque optio eligendi rem laudantium vel! Sed pariatur quos ab magni
               deserunt eveniet recusandae nulla dignissimos numquam. Esse voluptatem 
               debitis nemo repudiandae!
         </p>
         <h4 id="buy-project">How to buy project</h4>
         <p class="guide-style">Lorem, ipsum dolor sit amet consectetur adipisicing elit. 
             Exercitationem, natus nulla illo porro aliquam, illum expedita 
             recusandae magni ipsa inventore quis ut, blanditiis 
             sunt amet quisquam repellat in dolorum neque!
             Lorem ipsum dolor sit amet consectetur adipisicing elit.
              Eaque optio eligendi rem laudantium vel! Sed pariatur quos ab magni
               deserunt eveniet recusandae nulla dignissimos numquam. Esse voluptatem 
               debitis nemo repudiandae!
         </p>
         <h4 id="payment">Payment problem</h4>
         <p class="guide-style">Lorem, ipsum dolor sit amet consectetur adipisicing elit. 
             Exercitationem, natus nulla illo porro aliquam, illum expedita 
             recusandae magni ipsa inventore quis ut, blanditiis 
             sunt amet quisquam repellat in dolorum neque!
             Lorem ipsum dolor sit amet consectetur adipisicing elit.
              Eaque optio eligendi rem laudantium vel! Sed pariatur quos ab magni
               deserunt eveniet recusandae nulla dignissimos numquam. Esse voluptatem 
               debitis nemo repudiandae!
         </p>
         <h4 id="sell-project">Sell project</h4>
         <p class="guide-style">Lorem, ipsum dolor sit amet consectetur adipisicing elit. 
             Exercitationem, natus nulla illo porro aliquam, illum expedita 
             recusandae magni ipsa inventore quis ut, blanditiis 
             sunt amet quisquam repellat in dolorum neque!
             Lorem ipsum dolor sit amet consectetur adipisicing elit.
              Eaque optio eligendi rem laudantium vel! Sed pariatur quos ab magni
               deserunt eveniet recusandae nulla dignissimos numquam. Esse voluptatem 
               debitis nemo repudiandae!
         </p>
         <h4 id="send-project">Send your project course</h4>
         <p class="guide-style">Lorem, ipsum dolor sit amet consectetur adipisicing elit. 
             Exercitationem, natus nulla illo porro aliquam, illum expedita 
             recusandae magni ipsa inventore quis ut, blanditiis 
             sunt amet quisquam repellat in dolorum neque!
             Lorem ipsum dolor sit amet consectetur adipisicing elit.
              Eaque optio eligendi rem laudantium vel! Sed pariatur quos ab magni
               deserunt eveniet recusandae nulla dignissimos numquam. Esse voluptatem 
               debitis nemo repudiandae!
         </p>
        </div>
       </div> <!-- End of userguid -->
   </div>
</div> 
<!-- Back to Top Button -->
<button class="btn btn-outline-secondary" onclick="topFunction()" id="myBtn" title="Go to top">
  Top
<span><i class="fa fa-arrow-up"></i></span></button>
<p></p>
</div>
{% endblock content %}