{% extends 'base.html' %}
{% block title %}purchase{% endblock title %}
{% load static %}

{% block content %}
<div class="jumbotron" style="background-color:#343A40;;color:white">
    <h4>Purchase The complete Project Material</h4>
    <h2>Pay via Bank Deposite or Transfer</h2>
    {% if project %}
    <h3>{{ project.price }}</h3>
    {% endif %}
</div>
    <div class="container">
        <ul>
            <li><span class="text-muted">Bank Name:</span><b>First Bank</b></li>
            <li><span class="text-muted">Account Number:</span><b>0451205941</b></li>
            <li><span class="text-muted">Account Name:</span><b>Coding Techonoloy Limited</b></li>
        </ul>
        <form action="" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            {{ form }}
            <p></p>
            <i class="text-muted">Upload your transaction reciept image</i>
            <input class="btn btn-success btn-lg btn-block" type="submit" value="Submit">
            <!-- <button type="button" class="btn btn-success btn-lg btn-block">Submit</button>           -->
            <p></p>
        </form>
        <!-- {% if messages %}
        <ul class="messages">
            {% for message in messages %}
            <div class="alert alert-success" role="alert">
                <p {% if message.tags %} class="{{ message.tags }}"{% endif %} >{{ message }} </p>
              </div>
          
            {% endfor %}
        </ul>
        {% endif %} -->
        <!-- <button type="button" class="btn btn-dark btn-lg btn-block">Or</button>
        <P>Please send your project topic and email address after payment us</P> -->
        <button type="button" class="btn btn-primary btn-lg btn-block">PAY WITH PAYPAL</button>
    <br>
    </div>
{% endblock content %}