{% extends 'base2.html' %}
{% block title %} reset password {% endblock title %}

{% block content %}
    <div class="jumbotron" style="background-color:#343A40; color:white">
        <h1>Reset your password </h1>
    </div>
    <div class="alert alert-secondary" role="alert">
        Enter your Registered email address to oftain new one
    </div>
   <div class="container">
    <form action="" method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <input type="submit" value="Reset" class="btn btn-success">
    </form>
   </div>
{% endblock content %}