{% extends 'base.html' %}
{% block title %}project list{% endblock title %}

{% block content %}
<div class="jumbotron" style="background-color:#343A40; color:white">
  <h5>Project Preview for "{{ project.name}}"</h5>
  <p> <span class="text-muted">Created on {{ project.created }} <br> And Updated on {{ project.updated}}</span></p>
  <a href="{% url 'purchase'%}" class="btn btn-success btn-sm">Download Complete Project <span> <i class="fa fa-download"></i></span></a>
  <a href="{% url 'comment'%}" class="btn btn-dark btn-sm ">Comment <span><i class="fa fa-comment"></i></span></a>
  {% comment %} <a href="{% url 'project_share'%}" class="btn btn-primary btn-sm ">Share <span><i class="fa fa-share"></i></span></a> {% endcomment %}
</div>
    <div class="container">
        <div class="media">
            <img src="{{ project.image.url }}" height="150" class="align-self-start mr-3" alt="...">
            <div class="media-body">
                <h1>{{ project.name }}</h1>
              <h5 class="mt-0">Price ${{ project.price }}</h5>

            <p>{{ project.description }}</p>              
            </div>
          </div>
    </div>
{% endblock content %}
