{% extends 'base.html' %}
{% block title %}project list{% endblock title %}

{% block content %}
<div class="jumbotron border shadow ">
  <h5>Project Preview for "{{ project.name}}"</h5>
  <p> <span class="text-muted">Created on {{ project.created }} <br> And Updated on {{ project.updated}}</span></p>
  <a href="{% url 'purchase'%}" class="btn btn-success btn-sm">Download Complete Project <span> <i class="fa fa-download"></i></span></a>
  <a href="/" class="btn btn-dark btn-sm ">Comment <span><i class="fa fa-comment"></i></span></a>
</div>
    <div class="container">
        <div class="media">
            <img src="{{ project.image.url }}" height="150" class="align-self-start mr-3" alt="...">
            <div class="media-body">
                <h1>{{ project.name }}</h1>
              <h5 class="mt-0">Price ${{ project.price }}</h5>
              <p>{{ project.file.url | truncatewords:300 }}</p>
              
              <p>I'm walking on air (tonight). But down to earth. You're original, cannot be replaced. But in another life I would be your girl. We drove to Cali and got drunk on the beach. We can dance, until we die, you and I, will be young forever. Saw you downtown singing the Blues.</p>
            </div>
          </div>
    </div>
{% endblock content %}
