{% extends 'base.html' %}
{% block title %} wishlist{% endblock title %}

{% load static %}

{% block content %}
   <div class="container">

    <!-- {% comment %} <form action="" method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <input type="submit" value="Send">
    </form>
 {% endcomment %} -->
<div class="jumbotron border shadow" style="margin-top: 10%;">
    <h5>Write your wishlist project </h5>
    <p>Your view in needed !!!</p>
</div>
<form method="post">
    {% csrf_token %}
    <div class="form-group">
        <b>{{ form.course.label}}</b>
        {{ form.course }}
      <small id="emailHelp" class="form-text text-muted">Write project Course</small>
    </div>
    <div class="form-group">
      <b>{{ form.topic.label }}</b>
      {{ form.topic }}
    </div>
    <div class="form-group">
        <b>{{ form.school_name.label }}</b>
        {{ form.school_name }}
      </div> 
      <div class="form-group">
          <b>{{ form.description.label}}</b>
        {{ form.description }}
      </div>
    <button type="submit" class="btn btn-primary lg">Submit</button>
  </form>
   </div>
{% endblock content %}