@import url(//fonts.googleapis.com/css?family=Ubuntu);

body{
    background-color: #f1f1f1f1;
}
h1, h2, h3, h4, h5 , h6 {
    font-family: 'Ubuntu', sans-serif; font-weight:normal;
}

a {
    text-decoration:none;
    /* color:#5993bb; */
}
.footer{
    background-color: black;
    color: white;
}

.user-image{
    background-color: brown;
    color: white;
    border-radius: 40%;
    font-size: large;
    /* font-weight: bolder;
   */
}